body {
  box-sizing: border-box;
  margin: 0;
}

.header {
  background-color: #1E252B;
  width: 100%;
  height: 74px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1224px;
  height: 100%;
}

.header__logo {
  width: auto;
  height: fit-content;
  align-self: flex-end;
}

.header__menu {
  width: auto;
  height: 100%;
}

.header__menu-list {
  list-style: none;
  display: flex;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: auto;
  margin-top: 38px;
  padding: 0;
}

.header__menu-item {
  margin-right: 40px;
}

.header__menu-item a {
  text-decoration: none;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.55);
}

.header__menu-item a:hover {
  color: #FDF5FF;
}

input[type="checkbox"] {
  display: none;
}

label::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url('./img/rollup-btn-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  margin-left: 10px;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url('./img/rollup-btn-up.svg');
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  margin-left: 10px;
}

.header__buttons {
  width: auto;
  height: fit-content;
  align-self: flex-end;
}

.header__login a {
  text-decoration: none;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.55);
}

.header__signup a, .main__search-btn a {
  text-decoration: none;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  color: #FDF5FF;
}

.header__login {
  width: 118px;
  height: 48px;
  background-color: transparent;
  border: none;
}

.header__login a:hover {
  color: #FDF5FF;
}

.header__signup, .main__search-btn {
  width: 118px;
  height: 48px;
  background-color: #FF6E30;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.main {
  background-color: #1E252B;
  background-image: url('./img/hero.png');
  background-position: right;
  background-repeat: no-repeat;
  width: 100%;
  height: 626px;
}

.main__container {
  margin: 0 auto;
  border: 1px dashed transparent;
  width: 1224px;
  height: 100%;
}

.main__left-section {
  position: relative;
  margin-top: 104px;
  width: 554px;
  height: 522px;
}

.main__socials {
  position: absolute;
  bottom: 0;
}

.main__title {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 50px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.9);
}

.main__description {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.55);
}

.main__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 18px;
  padding-right: 11px;
  width: 470px;
  height: 64px;
  background: #283036;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#search {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  height: 21px;
  line-height: 21px;
  background-color: #283036;
  color: rgba(255, 255, 255, 0.38);
  border-style: none;
}

.main__socials-btn {
  width: 58px;
  height: 58px;
  background: #1E252B;
  border-style: none;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
}

.main__socials-facebook {
  background-image: url('img/facebook-icon.svg');
}

.main__socials-facebook:hover {
  background-image: url('img/facebook-icon-hover.svg');
  cursor: pointer;
}

.main__socials-instagram {
  background-image: url('img/instagram-icon.svg');
}

.main__socials-instagram:hover {
  background-image: url('img/instagram-icon-hover.svg');
  cursor: pointer;
}

.main__socials-twitter {
  background-image: url('img/twitter-icon.svg');
}

.main__socials-twitter:hover {
  background-image: url('img/twitter-icon-hover.svg');
  cursor: pointer;
}

/* *********************************************************************************************************** */

.popular {
  background-color: #1E252B;
  width: 100%;
  height: auto;
}

.popular__container {
  margin: 0 auto;
  border: 1px dashed green;
  width: 1224px;
  height: 100%;
}

.popular__title {
  border: 1px dashed green;
  margin-top: 200px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}

.popular__description {
  width: 427px;
  margin: 0 auto;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 0.55);
}

.popular__grid-container {
  border: 1px dashed green;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 100px;
  grid-column-gap: 21px;
  margin-top: 90px;
}

.popular__grid-item {
  border: 1px dashed green;
  border-radius: 15px;
  display: flex;
  width: 392px;
  height: 294px;
  transition: 0.3s;
}

.popular__grid-item:hover {
  transition: 0.3s;
  transform: translate(0, -20px);
  background: rgba(40, 48, 54, 0.6);
  backdrop-filter: blur(25px);
}

.popular__load-more {
  display: flex;
  justify-content: center;
  border: 1px dashed green;
  margin-top: 100px;
  height: auto;
  width: 100%;
}

.popular__load-more-button {
  width: 184px;
  height: 64px;
  background: #1E252B;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  cursor: pointer;
}

.popular__load-more-button:hover {
  background-color: #283036;
}

.popular__load-more-button a {
  text-decoration: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #FF6E30;
}

.tool {
  border: 1px dashed red;
  align-self: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: auto;
  width: 326px;
  height: 228px;
}

.tool__header {
  display: flex;
  border: 1px dashed green;
}

.tool__logo {
  border: 1px dashed green;
  width: 64px;
  height: 64px;
}

.tool__logo img {
  display: block;
  margin: 0 auto;
}

.tool__title {
  border: 1px dashed green;
  margin-left: 30px;
}

.tool__title-name {
  border: 1px dashed green;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.78);
}

.tool__title-license-type {
  border: 1px dashed green;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: rgba(255, 165, 55, 0.55);
}

.tool__description {
  border: 1px dashed green;
  width: 100%;
  height: 60px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.55);
}

.tool__controls {
  border: 1px dashed green;
  width: 100%;
  height: 42px;
  display: flex;
  justify-content: space-between;
}

.tool__controls-favorites {
  border: 1px dashed green;
}

.tool__controls-like {
  border: 1px dashed green;
  width: 42px;
  height: 42px;
  border-radius: 8px;
  background: #1E252B;
  background-image: url('./img/like-button.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.tool__controls-like:hover {
  background-image: url('./img/like-button-hover.svg');
  background-color: #283036;
  box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);
}

.tool__controls-add {
  border: 1px dashed green;
  width: 42px;
  height: 42px;
  border-radius: 8px;
  margin-left: 6px;
  background: #1E252B;
  background-image: url('./img/add-button.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.tool__controls-add:hover {
  background-image: url('./img/add-button-hover.svg');
  background-color: #283036;
  box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);
}

.tool__controls-visit {
  border: 1px dashed green;
}

.tool__controls-visit {
  width: 106px;
  height: 42px;
  background: #1E252B;
  border-radius: 8px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.55);
}

.tool__controls-visit:hover {
  background: #FF6E30;
  border-radius: 8px;
  color: #FFFFFF;
}

.brands {
  background-color: #1E252B;
  width: 100%;
}

.brands__container {
  border: 1px dashed green;
  margin: 0 auto;
  width: 1224px;
  height: auto;
}

.brands__wrapper {
  border: 1px dashed green;
  margin-top: 200px;
  width: 1224px;
  height: 253px;
  background: rgba(44, 53, 61, 0.2);
  backdrop-filter: blur(25px);
  border-radius: 25px;
}

.brands__title {
  margin-top: 55px;
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.8);
}

.brands__logos {
  border: 1px dashed green;
  display: flex;
  justify-content: space-between;
  margin: 55px auto 0;
  width: 1059px;
  height: auto;
}
