body {
  box-sizing: border-box;
  margin: 0;
  background-color: #1E252B;
}

.header {
  background-color: #1E252B;
  width: 100%;
  height: 74px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1224px;
  height: 100%;
}

.logo {
  width: auto;
  height: fit-content;
  align-self: flex-end;
}

.header__menu {
  width: auto;
  height: 100%;
}

.header__menu-list {
  list-style: none;
  display: flex;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: auto;
  margin-top: 38px;
  padding: 0;
}

.header__menu-item {
  margin-right: 40px;
}

.header__menu-item a {
  text-decoration: none;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.55);
}

.header__menu-item a:hover {
  color: #FDF5FF;
}

input[type="checkbox"] {
  display: none;
}

.header__menu-item label::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url('./img/rollup-btn-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  margin-left: 10px;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url('./img/rollup-btn-up.svg');
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  margin-left: 10px;
}

.header__buttons {
  width: auto;
  height: fit-content;
  align-self: flex-end;
}

.header__login a {
  text-decoration: none;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.55);
}

.header__signup a, .main__search-btn a {
  text-decoration: none;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  color: #FDF5FF;
}

.header__login {
  width: 118px;
  height: 48px;
  background-color: transparent;
  border: none;
}

.header__login a:hover {
  color: #FDF5FF;
}

.header__signup, .main__search-btn {
  width: 118px;
  height: 48px;
  background-color: #FF6E30;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.header__signup:hover, .main__search-btn:hover {
  opacity: 0.7;
}

.main {
  background-color: #1E252B;
  background-image: url('./img/hero.png');
  background-position: right;
  background-repeat: no-repeat;
  width: 100%;
  height: 626px;
}

.main__container {
  margin: 0 auto;
  border: 1px dashed transparent;
  width: 1224px;
  height: 100%;
}

.main__left-section {
  position: relative;
  margin-top: 104px;
  width: 554px;
  height: 522px;
}

.main__socials {
  position: absolute;
  bottom: 0;
}

.main__title {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 50px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.9);
}

.main__description {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.55);
}

.main__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 18px;
  padding-right: 11px;
  width: 470px;
  height: 64px;
  background: #283036;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#search {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  height: 21px;
  line-height: 21px;
  background-color: #283036;
  color: rgba(255, 255, 255, 0.38);
  border-style: none;
}

#search:focus {
  outline: none;
}

.main__socials-btn {
  width: 58px;
  height: 58px;
  background: #1E252B;
  border-style: none;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
}

.main__socials-facebook {
  background-image: url('img/facebook-icon.svg');
}

.main__socials-facebook:hover {
  background-image: url('img/facebook-icon-hover.svg');
  cursor: pointer;
}

.main__socials-instagram {
  background-image: url('img/instagram-icon.svg');
}

.main__socials-instagram:hover {
  background-image: url('img/instagram-icon-hover.svg');
  cursor: pointer;
}

.main__socials-twitter {
  background-image: url('img/twitter-icon.svg');
}

.main__socials-twitter:hover {
  background-image: url('img/twitter-icon-hover.svg');
  cursor: pointer;
}

.popular {
  background-color: #1E252B;
  width: 100%;
}

.popular__container {
  margin: 0 auto;
  border: 1px dashed transparent;
  width: 1224px;
  height: 100%;
}

.popular__title {
  margin-top: 200px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}

.popular__description {
  width: 427px;
  margin: 0 auto;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 0.55);
}

.popular__grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 100px;
  grid-column-gap: 21px;
  margin-top: 90px;
}

.popular__grid-item {
  border-radius: 15px;
  display: flex;
  width: 392px;
  height: 294px;
  transition: 0.3s;
}

.popular__grid-item:hover, .newcomer-tools__item:hover {
  transition: 0.3s;
  transform: translate(0, -20px);
  background: rgba(40, 48, 54, 0.6);
  backdrop-filter: blur(25px);
}

.popular__grid-item:hover button.tool__controls-visit {
  border: 2px solid #FF6E30;
}

.popular__load-more {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  height: auto;
  width: 100%;
}

.popular__load-more-button {
  width: 184px;
  height: 64px;
  background: #1E252B;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  cursor: pointer;
}

.popular__load-more-button:hover {
  background-color: #283036;
  border-color: #FF6E30;
}

.popular__load-more-button a {
  text-decoration: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #FF6E30;
}

.tool {
  align-self: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: auto;
  width: 326px;
  height: 228px;
}

.tool__header {
  display: flex;
}

.tool__logo {
  width: 64px;
  height: 64px;
}

.tool__logo img {
  display: block;
  margin: 0 auto;
}

.tool__title {
  margin-left: 30px;
}

.tool__title-name {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.78);
}

.tool__title-license-type {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: rgba(255, 165, 55, 0.55);
}

.tool__description {
  width: 100%;
  height: 60px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.55);
}

.tool__controls {
  width: 100%;
  height: 42px;
  display: flex;
  justify-content: space-between;
}

.tool__controls-like {
  width: 42px;
  height: 42px;
  border-radius: 8px;
  border-style: none;
  background: #1E252B;
  background-image: url('./img/like-button.svg');
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s;
}

.tool__controls-like:hover {
  transition: 0.3s;
  background-image: url('./img/like-button-hover.svg');
  background-color: #283036;
  box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);
}

.tool__controls-add {
  width: 42px;
  height: 42px;
  border-radius: 8px;
  border-style: none;
  margin-left: 6px;
  background: #1E252B;
  background-image: url('./img/add-button.svg');
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
}

.tool__controls-add:hover {
  transition: 0.3s;
  background-image: url('./img/add-button-hover.svg');
  background-color: #283036;
  box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);
}

.tool__controls-visit {
  width: 106px;
  height: 42px;
  background: #1E252B;
  border-radius: 8px;
  border-style: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.55);
  transition: 0.3s;
}

.tool__controls-visit:hover {
  transition: 0.3s;
  background: #FF6E30;
  border-radius: 8px;
  color: #FFFFFF;
}

.brands {
  background-color: #1E252B;
  width: 100%;
}

.brands__container {
  border: 1px dashed transparent;
  margin: 0 auto;
  width: 1224px;
  height: auto;
}

.brands__wrapper {
  border: 1px dashed transparent;
  margin-top: 200px;
  width: 1224px;
  height: 253px;
  background: rgba(44, 53, 61, 0.2);
  backdrop-filter: blur(25px);
  border-radius: 25px;
}

.brands__title {
  margin-top: 55px;
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.8);
}

.brands__logos {
  display: flex;
  justify-content: space-between;
  margin: 55px auto 0;
  width: 1059px;
  height: auto;
}

.newcomer-tools {
  background-color: #1E252B;
  width: 100%;
}

.newcomer-tools__container {
  border: 1px dashed transparent;
  margin: 0 auto;
  width: 1224px;
}

.newcomer-tools__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
  width: 100%;
}

.newcomer-tools__left-section {
  width: 427px;
}

.newcomer-tools__title {
  margin-top: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.9);
}

.newcomer-tools__description {
  margin-top: 30px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.55);
}

.newcomer-tools__explore {
  margin-top: 60px;
}

.newcomer-tools__explore-button {
  width: 198px;
  height: 58px;
  border-style: none;
  border-radius: 8px;
  background-color: #FF6E30;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
}

.newcomer-tools__explore-button:hover {
  opacity: 0.7;
}

.newcomer-tools__right-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 50px;
}

.newcomer-tools__item {
  display: flex;
  width: 288px;
  height: 284px;
  border-radius: 15px;
  transition: 0.3s;
}

.newcomer {
  width: 245px;
}

.slider {
  background-color: #1E252B;
  width: 100%;
}

.slider__container {
  border: 1px dashed transparent;
  margin: 0 auto;
  width: 1224px;
}

.slider__wrapper {
  position: relative;
  height: 600px;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider__viewport {
  align-self: center;
  height: 493px;
  width: 850px;
  overflow: hidden;
}

.slider__viewport-inner {
  display: flex;
}

.slider__slide {
  position: relative;
  display: flex;
  margin: auto;
}

.slider__viewport-left {
  width: max-content;
}

.slider__viewport-left img {
  width: 399px;
  height: 492px;
}

.slider__viewport-right {
  position: relative;
}

.slider__viewport-right img {
  position: absolute;
  top: 87px;
}

.slider__review {
  margin-top: 128px;
  margin-left: 55px;
  width: 393px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.015em;
  color: rgba(255, 255, 255, 0.78);
}

.slider__controls-hidden {
  position: absolute;
  top: 196px;
  width: 100%;
  height: 100px;
  text-align: center;
}

.slider__controls-hidden label {
  content: "";
  display: inline-block;
  width: 80px;
  height: 100px;
  background-color: #1E252B;
  border-radius: 8px;
  vertical-align: middle;
}

.slider__controls-active {
  text-align: center;
}

.slider__controls-active label::before {
  content: "";
  display: inline-block;
  width: 44px;
  height: 8px;
  border-radius: 4px;
  vertical-align: middle;
  margin-left: 10px;
  background-color: #283036;
}

.slider__wrapper input {
  display: none;
}

#position_1:checked ~ .slider__controls-active label:nth-child(1)::before,
#position_2:checked ~ .slider__controls-active label:nth-child(2)::before,
#position_3:checked ~ .slider__controls-active label:nth-child(3)::before {
  background-color: #FF6E30;
}

#position_1:checked ~ .slider__controls-hidden label:nth-child(3), 
#position_2:checked ~ .slider__controls-hidden label:nth-child(1),
#position_3:checked ~ .slider__controls-hidden label:nth-child(2){
  background-image: url('./img/slider-left-arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
	display: block;
	float: left;
}

#position_1:checked ~ .slider__controls-hidden label:nth-child(2), 
#position_2:checked ~ .slider__controls-hidden label:nth-child(3),
#position_3:checked ~ .slider__controls-hidden label:nth-child(1){
  background-image: url('./img/slider-right-arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
	display: block;
	float: right;
}

#position_1:checked ~ .slider__viewport .slider__viewport-inner {
	transform: translateX(0px);
  transition: 1s;
}

#position_2:checked ~ .slider__viewport .slider__viewport-inner {
	transform: translateX(-853px);
  transition: 1s;
}

#position_3:checked ~ .slider__viewport .slider__viewport-inner {
	transform: translateX(-1706px);
  transition: 1s;
}

.join {
  background-color: #1E252B;
  width: 100%;
}

.join__container {
  margin: 0 auto;
  width: max-content;
}

.join__wrapper {
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.join__title {
  margin-top: 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}

.join__description {
  width: 427px;
  margin-top: 25px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 0.55);
}

.join__form {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
  background: #283036;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#join {
  margin-left: 24px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  height: 21px;
  line-height: 21px;
  background-color: #283036;
  color: rgba(255, 255, 255, 0.38);
  border-style: none;
}

#join:focus {
  outline: none;
}

.join__button {
  margin-right: 12px;
  width: 130px;
  height: 48px;
  background-color: #FF6E30;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.join__button:hover {
  opacity: 0.7;
}

.join__button a {
  text-decoration: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.footer {
  background-color: #1E252B;
  width: 100%;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-top: 0.5px solid rgba(255, 255, 255, 0.15);
  margin-top: 240px;
  height: 351px;
}

.footer__wrapper-inner {
  display: flex;
  align-items: flex-end;
  width: 1224px;
}

.footer__copyrights {
  width: 416px;
  height: 281px;
}

.footer__contacts {
  width: 312px;
  height: 281px;
}

.footer__categories {
  width: 227px;
  height: 281px;
}

.footer__info {
  width: 269px;
  height: 281px;
}

.footer__copyrights-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.9);
}

.footer__copyrights-description {
  width: 260px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.55);
}

.footer__wrapper h3 {
  margin-top: 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.9);
}

.footer__item, .footer__item a {
  text-decoration: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.55);
}

.footer__item a:hover {
  color: rgba(255, 255, 255, 0.9);
}
